window.Bar {
    background: transparent;
    color: @theme_fg_color;
    font-weight: normal;
    font-size: 12px;
}

window.Bar>centerbox {
    background: @theme_bg_color;
    margin: 0px;
}

window.Bar button {
    border-radius: 8px;
    padding: 0px 6px;
    margin: 2px;
}

window.Launcher .launcher-container {
  background: @theme_bg_color;
}

window.Launcher .launcher-apps {
  color: @theme_bg_color;
}

window.Launcher .launcher-apps .launcher-app {
  margin: 2px 4px;
}
